allow mediacodec system_control_service:service_manager find;
allow mediacodec drm_device:chr_file {setattr read write open ioctl};
allow mediacodec sysfs:file  { open read write};
allow mediacodec sysfs_xbmc:file  { open read write};
allow mediacodec audioserver_service:service_manager find;
get_prop(mediacodec, media_prop)

allow mediacodec kernel:system module_request;
allow mediacodec mediaserver:dir { search };
allow mediacodec mediaserver:file { read open };
allow mediacodec dvb_video_device:chr_file rw_file_perms;
