allow shell rootfs:file { entrypoint };
allow shell sysfs:file { read open getattr };


allow shell hdcptx_device:chr_file { open read write getattr ioctl };

