on early-init
    insmod /boot/dwc3.ko

on init

on fs

on boot
service console /sbin/sh
    seclabel u:r:shell:s0
    console

service remotecfg /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab -d
    oneshot
    seclabel u:r:shell:s0
